@use "../" as *;

body {
  height: 100vh;
  background-color: $background-main-color;
  // @include flex-container($direction:column);
}
.wrapper{
  height: 100%;
  @include flex-container($direction:column)
}