@use "../" as *;

.button {
  font-family: $inter;
  font-size: $font-buttons;
  font-weight: 700;
  padding: 8px;
  color: $white;
  border-radius: $radius-small;
}

.button-success {
  background-color: $button-success;
}
.button-warning {
  background-color: $button-warning;
}
.button-remove {
  background-color: $button-remove;
}
