@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    80%{
      transform: translateX(20%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    80%{
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
